# Dependency directory
node_modules/

# Next.js build output
.next

.env
# Where ENV secrets are stored. although NextJS uses `.env.local`
# (https://nextjs.org/docs/basic-features/environment-variables#default-environment-variables), we are using `.env.development`
# for consistency with other projects. this also ensures our CICD and docker processes work.
.env.development

# we want the default npmrc but sometimes folks put in the gh tokens, don't commit those
.npmrc

# Sentry
.sentryclirc

# Emacs
*.~undo-tree~

# Cypress
cypress/results
cypress/screenshots
cypress/videos

.DS_Store