// import custom theme variables to override any bootstrap defaults
@import './theme.module.scss';

// bootstrap must be imported after any variable overrides so that your custom variable settings will be pulled into BS's classes.
@import '~bootstrap/scss/bootstrap';

html,
body {
  padding: 0;
  margin: 0;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

footer {
  margin-top: auto;
}