// these colors can be customized for each webstore instance. they are the default bootstrap theme variables and can be found in the bootstrap theme_colors sass map.  Updating these will also make sure that text overlaying areas with these background colors remains accessible. See https://getbootstrap.com/docs/5.0/customize/sass/#maps-and-loops for more details on how to add additional theme colors to this map.

$primary: #614570;
$secondary: #936AAA;
$light: #F2F2F2;
$dark: #070818;
$success: #B0E298;
$info: #8eb3fc;
$warning: #E9DF00;
$danger: #D20000;
$black: #000000;
$white: #FFFFFF;

// these imports must be AFTER the theme color overrides above in order to properly override bootstrap's colors, but before the theme maps.
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

// create our own custom colors map, and merge it with bootstrap's theme-colors map to generate utility functions that can be used throughout the app
$custom-colors: (
  'dark-1': darken($dark, 3%),
  'dark-2': darken($dark, 5%),
  'dark-3': darken($dark, 10%),
  'dark-4': darken($dark, 20%),
  'dark-5': $dark,
  'dark-6': lighten($dark, 3%),
  'dark-7': lighten($dark, 5%),
  'dark-8': lighten($dark, 10%),
  'dark-9': lighten($dark, 20%),
  'light-1': darken($light, 3%),
  'light-2': darken($light, 5%),
  'light-3': darken($light, 10%),
  'light-4': darken($light, 20%),
  'light-5': $light,
  'light-6': lighten($light, 3%),
  'light-7': lighten($light, 5%),
  'light-8': lighten($light, 10%),
  'light-9': lighten($light, 20%),
  'primary-1': darken($primary, 3%),
  'primary-2': darken($primary, 5%),
  'primary-3': darken($primary, 10%),
  'primary-4': darken($primary, 20%),
  'primary-5': $primary,
  'primary-6': lighten($primary, 3%),
  'primary-7': lighten($primary, 5%),
  'primary-8': lighten($primary, 10%),
  'primary-9': lighten($primary, 20%),
  'secondary-1': darken($secondary, 3%),
  'secondary-2': darken($secondary, 5%),
  'secondary-3': darken($secondary, 10%),
  'secondary-4': darken($secondary, 20%),
  'secondary-5': $secondary,
  'secondary-6': lighten($secondary, 3%),
  'secondary-7': lighten($secondary, 5%),
  'secondary-8': lighten($secondary, 10%),
  'secondary-9': lighten($secondary, 20%),
  'black': $black,
  'white': $white,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

// these variables are also exported for use in variables.js
:export {
  primary: $primary;
  secondary: $secondary;
  success: $success;
  info: $info;
  warning: $warning;
  danger: $danger;
  light: $light;
  dark: $dark;
  black: $black;
  white: $white;
}
